<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.mapper.workMapper">
<resultMap id="wmap" type="java.util.Map">
		<result property="_id" column="DS_NO" jdbcType="NUMERIC"/>
		<result property="title" column="DS_TITLE" jdbcType="VARCHAR"/>
		<result property="description" column="DS_MEMO" jdbcType="VARCHAR"/>
		<result property="start" column="DS_SDATE" jdbcType="VARCHAR"/>
		<result property="end" column="DS_EDATE" jdbcType="VARCHAR"/>
		<result property="type" column="DS_TYPE" jdbcType="VARCHAR"/>
	    <result property="username" column="EMP_NAME" jdbcType="VARCHAR"/> 
		<result property="backgroundColor" column="DS_BGCOLOR" jdbcType="VARCHAR"/>
		<result property="textColor" column="DS_TEXTCOLOR" jdbcType="VARCHAR"/>
		<result property="allDay" column="DS_ALLDAY" jdbcType="VARCHAR"/>
</resultMap>
	<!-- ================================= 보낸 결재문서함  =========================================-->
		<select id="proc_s_SignList" parameterType="map" statementType="CALLABLE">
		{call proc_s_SignList(#{emp_no},#{key,jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=wmap})}
	    </select>
	<!-- ================================= 보낸 결재문서함 끝  =========================================-->
	
	<!-- =============================== 내 받은 결재문서함 시작 ======================================== -->
	<select id="proc_r_SignList" parameterType="map" statementType="CALLABLE">
		{call proc_r_SignList(#{emp_no},#{key,jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=wmap})}
	</select>
	<!-- ===============================  내 받은 결재함 문서 끝======================================== -->
	
	<!-- ================================== 결재폼양식 ========================================== -->
	<select id="proc_SignForm" parameterType="map" statementType="CALLABLE">
		{call proc_SignForm(#{key,jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=wmap})}
	</select>
	<!-- ================================== 결재폼양식 끝  ============================================ -->	
	
	
	
	<!-- ================================== 전자결재 항목  ============================================ -->	
	<!-- 승인버튼 눌렀을 때 -->
	<select id="proc_accept" parameterType="map" statementType="CALLABLE" resultType="String">
		{call proc_accept(#{emp_no},#{ap_no},#{msg,jdbcType=VARCHAR,mode=OUT})}
	</select>
	   
	 <!-- 결제신청시 수신자테이블에 insert -->
	<select id="proc_reason" parameterType="map" statementType="CALLABLE" resultType="String">
		{call proc_reason(#{emp_no},#{ap_no},#{ap_reason},#{msg,jdbcType=VARCHAR,mode=OUT})}
	</select>
	   
	<!--결제신청 버튼 눌렀을때 -->
	<insert id="workAddDoc" parameterType="map">
		INSERT INTO APPROVE(ap_no,fr_no,ap_title,ap_state,ap_reporter,ap_appdate
                   ,ap_closedate,ap_content,ap_dname,ap_retiredate
                   ,ap_contact,ap_prosessingdate,ap_instructions,ap_bego,ap_sign)
        VALUES(seq_ar.nextval,#{fr_no},#{ap_title},#{ap_state}
                  ,#{ap_reporter},to_date(#{ap_appdate},'yyyy-mm-dd'),to_date(#{ap_closedate},'yyyy-mm-dd')
                  ,#{ap_content},#{ap_dname},to_date(#{ap_retiredate},'yyyy-mm-dd')
                  ,#{ap_contact},#{ap_prosessingdate},#{ap_instructions},#{ap_bego},#{ap_sign})
	</insert>
	
	<!-- 결제신청시 수신자테이블에 insert -->
	<select id="proc_addRev" parameterType="map" statementType="CALLABLE" resultType="String">
		{call proc_addRev(#{emp_no},#{ap_no},#{count},#{msg,jdbcType=VARCHAR,mode=OUT})}
	   </select>
	
	
	<!-- ================================== 전자결재 항목 끝 ============================================ -->	
	
	
	
	
	<!-- ================================== 정보수정 ================================================ -->
		<select id="PROC_EMPLIST_INSA" parameterType="map" statementType="CALLABLE">
		{call PROC_EMPLIST_INSA(#{emp_no},#{key,jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=wmap})}
		</select>
	
	<!-- =================================== 정보수정 끝============================================== -->
	
	<!-- =================================== 정보수정 저장버튼  ========================================== -->
 	<update id="workUpdEmp" parameterType="map">
		UPDATE EMP
		      SET emp_no = #{EMP_NO}
		      ,emp_name = #{EMP_NAME}
		      ,emp_pw  = #{EMP_PW}
		      ,emp_resnum = #{EMP_RESNUM}
		      ,emp_photo = #{EMP_PHOTO}
		      ,emp_phone  = #{EMP_PHONE}
		      ,emp_email = #{EMP_EMAIL}
		      ,dept_no =  #{DEPT_NO} 
		      ,emp_extend  = #{EMP_EXTEND}
		      ,emp_position = #{EMP_POSITION}
		      ,emp_salary  = #{EMP_SALARY}
		      ,emp_gender  = #{EMP_GENDER}
		      ,emp_hiredate  = TO_DATE(#{EMP_HIREDATE},'YYYY-MM-DD')
		      ,emp_retiredate  = TO_DATE(#{EMP_RETIREDATE},'YYYY-MM-DD')
		      ,emp_state = #{EMP_STATE}
		      ,emp_bank = #{EMP_BANK}
		      ,emp_account = #{EMP_ACCOUNT}
		      ,emp_zipcode = #{EMP_ZIPCODE}
		      ,emp_address = #{EMP_ADDRESS}
		      ,emp_detailaddress = #{EMP_DETAILADDRESS}
		 WHERE emp_no = #{EMP_NO}
      </update>
	<!-- =================================== 정보수정 저장버튼 끝========================================== -->
	
	<!-- ===================================인사탭 비밀번호 변경 ============================================== -->
		<select id="PROC_CHANGEPW" parameterType="map" statementType="CALLABLE" resultType="String">
		{call PROC_CHANGEPW(#{U_IN_PW},#{U_IN_RPW},#{MSG,jdbcType=VARCHAR,mode=OUT})}
	   </select>
	<!-- ===================================인사탭 비밀번호 변경 끝 ============================================== -->

	<!-- ================================== 사원관리 ================================================ -->
	<select id="proc_empList" parameterType="map" statementType="CALLABLE">
		{call proc_empList(#{key,jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=wmap})}
	</select>
	<!-- ================================== 사원관리 끝 ================================================ -->
	
	<!-- ================================== 퇴직사원 조회 =============================================== -->
	<select id="PROC_RETIREMENT" parameterType="map" statementType="CALLABLE">
		{call PROC_RETIREMENT(#{key,jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=wmap})}
	</select>
	<!-- ================================== 퇴직사원조회 끝 =============================================== -->
	
	
	<!-- ================================== 사원등록 저장버튼 =================================================== -->
	<insert id="workAddEmp" parameterType="map">
	INSERT INTO EMP(emp_name,emp_resnum,emp_gender,emp_photo,emp_pw
               ,emp_phone,emp_email,emp_no
               ,dept_no,emp_extend,emp_position
               ,emp_salary,emp_hiredate,emp_retiredate,emp_state
               ,emp_address,emp_zipcode,emp_detailaddress,emp_bank,emp_account)
    VALUES(#{emp_name},#{emp_resnum},#{emp_gender},#{emp_photo},#{emp_pw}
               ,#{emp_phone},#{emp_email},#{emp_no}
               ,#{dept_no},#{emp_extend},#{emp_position}
               ,#{emp_salary},to_date(#{emp_hiredate},'YYYY-MM-DD'),TO_DATE(#{emp_retiredate},'YYYY-MM-DD'),#{emp_state}
  			   ,#{emp_address},#{emp_zipcode},#{emp_detailaddress},#{emp_bank},#{emp_account})
	</insert>
	<!-- ================================== 사원등록 저장버튼 끝=================================================== -->
	
	
	<!-- ================================== 총사원보여주기 =============================================== -->
	<select id="proc_tot_empList" parameterType="map" statementType="CALLABLE">
		{call proc_tot_empList(     #{key, 
		                     	    jdbcType=CURSOR, 
		                     		mode=OUT, 
		                     		javaType=java.sql.ResultSet, 
		                     		resultMap=wmap})}
	</select>
	<!-- ================================== 총사원보여주기 끝 =============================================== -->
	
	<select id="PROC_BRANCHLIST" parameterType="map" statementType="CALLABLE">
		{call PROC_BRANCHLIST(#{key, 
		                        jdbcType=CURSOR, 
		                     	mode=OUT, 
		                     	javaType=java.sql.ResultSet, 
		                     	resultMap=wmap})}
	</select>
	<!-- ================================== 지사관리 끝 ====================================================== -->
	
	<!-- ==================================  지사등록 ===================================================== -->
	<insert id="addBranch" parameterType="map">
		INSERT INTO DISPATCH_LOC(DL_NO,DL_LATITUDE,DL_LONGITUDE,DL_NAME,
               DL_TEL,DL_ADDRESS,DL_DETAILADDRESS,DL_NOTE)
        VALUES(SEQ_DL_NO.NEXTVAL,#{DL_LATITUDE},#{DL_LONGITUDE},#{DL_NAME},#{DL_TEL},#{DL_ADDRESS},#{DL_DETAILADDRESS},#{DL_NOTE})
	</insert>	
	<!-- ================================== 지사등록 끝 =================================================== -->
	
	<!-- ================================== 지사관리삭제 =============================================== -->
	<select id="PROC_DELBRANCH" parameterType="map" statementType="CALLABLE" resultType="String">
		{call PROC_DELBRANCH(#{U_INPUT},#{U_NUM},#{MSG, mode=OUT,jdbcType=VARCHAR})}
	</select>
	<!-- ================================== 지사관리 삭제 끝=============================================== -->
	
	
	<!-- ================================== 파견사원 조회탭  =============================================== -->
	<!-- 파견사원 탭 -->
	<select id="dispatch_List"  resultType="java.util.Map">
		SELECT e.emp_no as EMP_NO,e.emp_name as EMP_NAME FROM emp e,dispatch dp
 		 WHERE e.emp_no = dp.emp_no
           AND SYSDATE BETWEEN dp.dp_sdate AND dp.dp_edate
	</select>
	
	<!-- 파견사원 조회 -->
	<select id="sel_empDispatch" parameterType="map" resultType="java.util.Map">
		SELECT e.emp_no as EMP_NO,dl.dl_name as DL_NAME,dl.dl_tel as DL_TEL
     		  ,dl.dl_address as DL_ADDRESS,e.emp_name as EMP_NAME,e.emp_phone as EMP_PHONE
      		  ,dp.dp_sdate as DP_SDATE,dp.dp_edate as DP_EDATE,dl.dl_latitude as DL_LATITUDE,dl.dl_longitude as DL_LONGITUDE
		 FROM emp e, dispatch dp, dispatch_loc dl
		WHERE e.emp_no = #{emp_no}
 		  AND dl.dl_no = dp.dl_no
 		  and e.emp_no = dp.emp_no
  	      AND SYSDATE BETWEEN dp.dp_sdate AND dp.dp_edate
	</select>
	
	
	<!-- ================================== 파견사원 조회 끝=============================================== -->
	
	
	
	<!-- ==================================== 부서일정  ================================================== -->
	<!--부서 일정 리스트  -->
	<select id="proc_deptSchList" parameterType="map" statementType="CALLABLE">
		{call proc_deptSchList(#{emp_no},#{key, 
		                     	    jdbcType=CURSOR, 
		                     		mode=OUT, 
		                     		javaType=java.sql.ResultSet, 
		                     		resultMap=wmap})}
	</select>
	
	<!--부서 일정 추가  -->
	<select id="proc_deptSchAdd" parameterType="map" statementType="CALLABLE" resultType="string">
		{call proc_deptSchAdd(#{ds_title},#{ds_memo},#{ds_sdate},#{ds_edate}
							 ,#{ds_allday},#{ds_type},#{ds_bgcolor},#{emp_no}
						     ,#{msg, mode=OUT,jdbcType=VARCHAR})}
	</select>
	
	<!--부서 일정 변경  -->
	<select id="proc_deptSchUpd" parameterType="map" statementType="CALLABLE" resultType="string">
      {call proc_deptSchUpd(#{ds_title},#{ds_sdate},#{ds_edate},#{ds_type}
                      ,#{ds_allday},#{ds_bgcolor},#{ds_no},#{ds_memo},#{emp_no}
                       ,#{msg, mode=OUT,jdbcType=VARCHAR})}
   </select>
	<!-- 부서 일정 삭제하기  -->
	<delete id="work_deptSchDel" parameterType="map"> 
		DELETE FROM dept_schedule
		 WHERE emp_no = #{emp_no}
  		   AND ds_no = #{ds_no}
	</delete>
	
	<!-- 부서 사원 이름 조회하기  -->
	<select id="proc_deptEmp" parameterType="map" statementType="CALLABLE">
		{call proc_deptEmp(#{emp_no},#{key, 
		                     	    jdbcType=CURSOR, 
		                     		mode=OUT, 
		                     		javaType=java.sql.ResultSet, 
		                     		resultMap=wmap})}
	</select>
	
	<!-- ================================== 부서일정 리스트 끝=============================================== -->
	
	
</mapper>
  